
<div class = "navbar-div">
<button type="button" class="button" (click) = "gotoInsert()" title="Enter an employee data">
    INSERT
  </button>
  <button type="button" class="button" (click) = "gotoDelete()" title="Delete an employee data">
    DELETE
  </button>
  <button type="button" class="button" (click) = "gotoUpdate()" title="Update an employee data">
    UPDATE
  </button>
  <button type="button" class="button" (click) = "gotoFind()" title="Find an employee data">
    FIND
  </button>
  <button type="button" class="button" (click) = "gotoViewAll()" title="View all employee data">
    VIEW ALL
  </button>

<br><br><br>
<router-outlet></router-outlet>
