<div>
  <form novalidate [formGroup]="form" (ngSubmit) = "deleteEmployee()" >
    <label>DELETE EMPLOYEE DETAILS</label>

    <!--EMPLOYEE ID-->
    <!--Mandatory Field-->
    <!--should be only of numeric type and length should be exactly 7-->

    <input type="text" formControlName="empId" placeholder="Employee Id">
    <div *ngIf="form.get('empId').touched && form.get('empId').invalid" class = "alert">
      <div *ngIf="form.get('empId').hasError('required')">
          Employee Id Required!!
      </div>
      <div *ngIf="form.get('empId').hasError('pattern')">
        Only numeric values accepted!!
      </div>
      <div *ngIf="form.get('empId').hasError('minlength')">
        Employee Id cannot be less than 7 Characters!!
      </div>
      <div *ngIf="form.get('empId').hasError('maxlength')">
        Employee Id cannot be greater than 7 Characters!!
      </div>
    </div>
    <input type="submit" value="REMOVE EMPLOYEE" [disabled]="form.invalid" class = "btn btn-success">
  </form>
  </div>

  <div *ngIf="checkContent" class = "msg">{{userCount}} user(s) removed!!</div>
  